.message {
    position: relative;
    box-shadow: 0 3px 10px rgba(0,0,0,.185);
    font-size: 1.2em;
    padding: 20px;
    margin-top: 3%;
    border: 1px #f0f0f0 solid;
}

.del {
    position: absolute;
    right: 10px;
    top: 7px;
    border-radius: 50%;
    height: 40px;
    box-shadow: 0 3px 10px rgba(0,0,0,.185);
    width: 40px;
    border: 1px solid #f0f0f0;
    cursor: pointer;

    &:hover {
        background-color: #ffc8c8;
        transition: .3s all ease;
    }
}

.message input {
    position: absolute;
    right: 120px;
    top: 10px;
}


.edit {
    position: absolute;
    right: 60px;
    top: 7px;
    border-radius: 50%;
    height: 40px;
    box-shadow: 0 3px 10px rgba(0,0,0,.185);
    width: 40px;
    border: 1px solid #f0f0f0;
    cursor: pointer;

    &:hover {
        background-color: #d7ffde;
        transition: .3s all ease;
    }
}

.itemUser {
    position: absolute;
    left: -80px;
    top: 20px;
    color:rgb(88, 88, 88);
    font-size: 12px;
}